.login-layout {

    .form-layout {
        width: 40%;
        margin: 10rem auto;
    }

    .form-layout-comment {
        width: 90% !important;
        margin: 2rem 0 !important;
    }

    .input-display {
        margin-bottom: 2rem;
    }

    .input-style {
        display: block;
        width: 90%;
        height: 2.75rem;
        font-size: 1.5rem;
        padding: 5px 10px;
        margin: 5px 0;
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.39);

        &:focus {
            outline: none;
        }
    }

    .label-style {
        font-size: 2rem;
    }

    .submit-style {
        border: 0;
        text-transform: uppercase;
        padding: 10px 20px;
        background: rgba(121, 121, 121, 0.493);
        border: 1px solid transparent;
        border-radius: 5px;
        outline: none;
        cursor: pointer;

        &:active {
            color: $standard-white;
            border: 1px solid rgba(0, 0, 0, 0.288);
        }
    }
}

.edit-layout {
    margin: 0 auto !important;
    width: 100% !important;
}

.new-post-submit {
    display: inline-block;
    margin-right: 1rem;
}